#wrapper {
    position: relative;
}

.scanview {
    position: absolute;
    z-index: 90;
}

.cheange-logo {
    top: 100px;
    right: 10px;
    height: 40px;
}

.target_image {
    /* Center */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35vh;
}

.scan-location {
    /* 背景透過 */
    background-color: rgba(255, 255, 255, 0.8);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    display: flex;
    width: 80vw;
    height: 6vh;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}


.scan-message2 {
    /* 画面下部に固定し、中央に配置 */
    position: absolute;
    bottom: 0%; /* カメラ映像の上に配置 */
    left: 50%;
    transform: translateX(-50%);
    
    /* 背景と文字のスタイル */
    background-color: rgba(0, 0, 0, 0.6); /* 背景は半透明の黒 */
    color: #ffffff; /* 文字色は白 */
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    
    /* ボーダーと影 */
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* 軽い影をつける */

    /* サイズ調整 */
    width: 80vw;
    max-width: 500px; /* 最大幅を設定 */
    word-wrap: break-word; /* 長い文章が折り返されるように */
}

.message-description {
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: left;
    padding: 5px 5px 5px 30px;
    height: 100%;
}

.scan-message {
    /* Center */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);

    width: 80vw;
    border-radius: 6px;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#camera-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    max-width: 100%;
}

#rect-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

#backbutton{
    display: none;
}

